$font-path: "/fonts";
$min-width: 320px;
$max-width: 1200px;
$base-bg: #FFF;
$base-font-size: 14px;
$base-line-height: 18px;
$base-font-family: "Roboto", "Arial", sans-serif;
$title-font-family: "Roboto Condensed", "Arial", sans-serif;
$code-font-family: "Consolas", "Andale Mono", monospace;

$white-color: #fff;
$main-color: "";
$hover-color: "";
$dark-color: "";
$invalid-color: #a94442;
$grey-100: #f8f9fa;
$grey-200: #e9ecef;
$grey-300: #dee2e6;
$grey-400: #ced4da;
$grey-500: #a6aeb6;
$grey-600: #7b7b7b;
$grey-700: #495057;
$grey-800: #343a40;
$grey-900: #212529;