.movies-item {
  color: $white-color;
  opacity: 1;
  transition: opacity 200ms;

  &:hover,
  &:focus,
  &:active {
    color: $white-color;
    text-decoration: none;
    outline: none;
  }

  &:hover {
    .movie-cover {
      opacity: 0.7;
      transition: opacity 200ms;
    }
  }
}

.movie-cover {
  width: 300px;
  height: 450px;
}

.movie-title {

}

.movie-vote {
  width: 26px;
}

