.pager {
  .page {
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: $white-color;
    transition: background-color 200ms;

    &:hover {
      background-color: $white-color;
      transition: background-color 200ms;
      color: $body-color;
    }

    &.active {
      background-color: $white-color;
      color: $body-color;
    }
  }

  .page + .page {
    margin-left: 10px;
  }
}